img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Oswald';
  color: var(--text-main);
  background-color: var(--backgroung-body);
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
