:root {
  --backgroung-body: #f3f5fa;
  --backgroung-article: #eaedf1;
  --background-menu: rgba(23, 61, 51, 0.75);

  --text-main: #173d33;
  --text-white: #FFF;

  --accent-main: #97d28b;
  --accent-light: #dcefd8;

  --placeholder: #bdbdbd;

  --error-message: #d28b8b;

  --modal-backdrop: rgba(23, 61, 51, 0.25);
}
